<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Contacto</title>
    <meta charset="utf-8" />
</head>
<body>
    <h1>Dejanos tu mensaje</h1>


    <label for="nombre">Nombre</label>
    <input type="text" name="nombre" />
    <br />
    <label for="apellido">Apellido</label>
    <input type="text" name="apellido" />
    <br />
    <label for="telefono">Teléfono</label>
    <input type="text" name="telefono" />
    <br />
    <label for="correo">Email</label>
    <input type="text" name="correo" />
    <br />
    <label for="mensaje">Mensaje</label>
    <input type="" style="WIDTH: 228px; HEIGHT: 98px" name="mensaje" />
    <br />
    <tr><td><input type="submit" value="Agregar" /></td></tr>
    <br />
    @Html.ActionLink("Volver", "Index");

</body>
</html>

