
@{
    ViewBag.Title = "Login";
}


<form action="/Usuario/Login" method="post">
    <div class="form-group">
        <label>Ingrese Usuario</label>
        <input type="text" name="nombreU" value="" />
    </div>
    <div class="form-group">
        <label>Ingrese Contraseña</label>
        <input type="password" name="contrasenia" value="" />
    </div>
    <tr><td><input type="submit" value="Agregar" /></td></tr>
</form>

   

