<html>
<head>
    <title>Shopping</title>
</head>
<body>
    <div>

        </ul>
        <div>

            <ul>
                <li><b>Parejas</b></li>
                <ul>
                    <li>1) <a href="/Pareja/Agregar">Alta</a></li>
                    <li>2) <a href="/Pareja/Eliminar">Baja</a></li>
                    <li>3) <a href="/Pareja/Modificar">Modificar</a></li>
                    <li>4) <a href="/Pareja/Listar">Consulta</a></li>
                </ul>

            </ul>

            <ul>
                <li><b>Articulos</b></li>
                <ul>
                    <li>1) <a href="/Articulo/Agregar">Alta</a></li>
                    <li>2) <a href="/Articulo/Eliminar">Baja</a></li>
                    <li>3) <a href="/Articulo/Modificar">Modificar</a></li>
                    <li>4) <a href="/Articulo/Listar">Consulta</a></li>
                </ul>

            </ul>

            <ul>
                <li><b>Invitados</b></li>
                <ul>
                    <li>1) <a href="/Invitado/Agregar">Alta</a></li>
                    <li>2) <a href="/Invitado/Eliminar">Baja</a></li>
                    <li>3) <a href="/Invitado/Modificar">Modificar</a></li>
                    <li>4) <a href="/Invitado/Modificar">Consulta</a></li>
                </ul>

            </ul>

            <ul>
                <li><b>Regalos</b></li>
                <ul>
                    <li>1) <a href="/Regalo/Agregar">Añadir a la Lista</a></li>
                    <li>2) <a href="/Pareja/SelectPareja">Registrar Nuevo Regalo</a></li>
                </ul>

            </ul>

            <ul>
                <li><b>Reportes</b></li>
                <ul>
                    <li>1) <a href="ServletRep1">Listado de Parejas Por Comercio</a></li>
                    <li>2) <a href="ServletRep2">Total Facturado de todos los Regalos</a></li>
                    <li>3) <a href="ServletRep3">Listado de Parejas que recibieron más de $10.000 en regalos</a></li>
                    <li>4) <a href="ServletRep4">Cantidad de Artículos seleccionados pero no regalados, por cada Tipo de Artículo</a></li>
                </ul>

            </ul>

        </div>
    </div>

</body>
</html>
