
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<a href="/NombrePareja/ListaNombrePareja">Listas de Regalos</a>
<br />
<a href="/Usuario/Login">Administradores</a>
<br />
<a href="/Mensaje/Index">Contáctanos</a>
<br />



